name: flutter_form_fields
description: Custom widgets to help developers create input fields with validations that are not available in flutter sdk.
version: 0.0.2
homepage: https://github.com/nischhalcodetrade/flutter_form_fields.git

environment:
  sdk: '>=3.0.6 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0



